<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientLib.all @ categories='renp.custom'}"/>

<nav class="navbar navbar-expand-sm" style="background-color: ${properties.themeColor @ context='styleString'}">
  <div class="container">
    <div class="collapse navbar-collapse" id="mynavbar">
 	<sly data-sly-list.child="${resource.getChildren}">
      <ul class="navbar-nav me-auto" data-sly-list="${child.getChildren}">
        <li class="nav-item">
          <a class="nav-link"  href="${item.navLink}">${item.navTitle}</a>
        </li>
      </ul>
      <div class="header_logo">       
   		<a class="navbar-brand"><img src="${properties.fileReference}" alt="Site Logo" /></a>
      </div>
    </div>
  </div>
</nav>